.hdr {
    margin-top: 300px;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.7); 
    color: #333333; 
    padding: 10px 20px;
    border-radius: 15px; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.hdr:hover {
    background-color: #f0f0f0;
    color: #555555; 
}
body {
    background: url("../img/portrait-of-beautiful-woman-holding-colorful-paper-bags.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}