.logo {
    height: 50px;
}
.icons {
    height: 30px;
}
.ctgs {
    margin-right: 25px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 18px;
}
.dropdown-item a {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    color: rgb(85, 85, 85);
    text-decoration: none;
}
.dropdown-item:active {
    background-color: rgb(0,134,255);
}
.dropdown-item:active > a {
    color: white;
}
.dropdown-item:hover {
    background-color: rgb(130,195,255);
}
.dropdown-item:hover > a {
    color:white;
}
body {
    background: url("../img/portrait-of-beautiful-woman-holding-colorful-paper-bags.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

nav {
    box-shadow: 0 5px 30px black;
}

.hdr{
    color: white;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 900;
    margin-top: 300px;
    text-decoration: none;
}
.arrow {
    color: white;
    font-size: 30px;
}