{% extends "products/base.html" %}
{% load static %}

{% block content %}
    <section class="container mt-5">
        <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Оформление профиля</h2>
            <form action="{% url "users:profile" %}" method="POST">
                {% csrf_token %}
                
            <div class="row mb-3">
                <div class="col">
                <label for="{{ form.first_name.id_for_label }}" class="form-label">Имя</label>
                {{ form.first_name }}
                </div>
                <div class="col">
                <label for="{{ form.last_name.id_for_label }}" class="form-label">Фамилия</label>
                {{ form.last_name }}
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">Адрес электронной почты</label>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label for="{{ form.phone.id_for_label }}" class="form-label">Контактный номер телефона</label>
                {{ form.phone }}
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">История заказов</h2>
            <div class="card">
            <div class="card-body">
                <div class="list-group">
                <!-- Заказы -->
                    <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Заказ #123456</h5>
                        <small>Дата: 01.01.2024</small>
                    </div>
                    <p class="mb-1">Товары: Название товара 1, Название товара 2, ...</p>
                    <div class="d-flex w-100 justify-content-between">
                        <p>Сумма заказа: </p>
                        <small>Статус: Доставлен</small>
                    </div>  
                    </a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
{% endblock content %}