{% extends "users/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Регистрация</h3>
                    </div>
                    <div class="card-body">
                        <form action="{% url "users:registration" %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary btn-block mb-3">Зарегистрироваться</button>
                        </form>
                    </div>
                        <div class="card-footer">
                            <p class="text-center mb-0">Уже зарегистрированы?<a href="{% url "users:login" %}">Войти</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

