{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosfor - главная</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!--Кастомный стиль для шаблона-->
    {% block css %} {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url "index" %}"><img src="{% static "img/logo.png" %}" alt="" class="logo"></a>
            <div class="order-lg-last">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="#" class="nav-link position-relative"><img src="{% static "img/basket.svg" %}" alt="" class="icons"> <span class="position-absolute top-10 start-0 translate-middle badge rounded-pill bg-danger">
                        0</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><img src="{% static "img/user.svg" %}" alt="" class="icons"></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="{% url "users:profile" %}">Профиль</a></li>
                            <li class="dropdown-item"><a href="{% url 'admin:index' %}">Админ-панель</a></li>
                            <li class="dropdown-item"><a href="#">Аналитика</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><a href="{% url "users:logout" %}">Выйти</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url "users:login" %}" class="nav-link">
                            <img src="{% static "img/login.svg" %}" alt="" class="icons">
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcat" aria-controls="navcat" aria-expanded="false" aria-label="Меню">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navcat">
                <ul class="navbar-nav mr-auto">
                    {% for gender in genders %}
                        <li class="nav-item dropdown ctgs">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><b>{{ gender.name }}</b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="{% url "products:gender" gender.id %}">Все товары</a></li>
                                <li class="dropdown-header">По категориям:</li>
                                {% for category in categories %}
                                    <li class="dropdown-item"><a href="{% url "products:gendercat" gender.id category.id%}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    <li class="nav-item ctgs"><a href="#" class="nav-link" >О нас</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% block content %} {% endblock %}

{% block footer %} {% endblock %}

    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>