{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!--Кастомный стиль для шаблона-->
    {% block css %} {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url "index" %}"><img src="{% static "img/logo.png" %}" alt="" class="logo"></a>
            <div class="order-lg-last">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="#" class="nav-link position-relative"><img src="{% static "img/basket.svg" %}" alt="" class="icons"> <span class="position-absolute top-10 start-0 translate-middle badge rounded-pill bg-danger">
                        0</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><img src="{% static "img/user.svg" %}" alt="" class="icons"></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#">Профиль</a></li>
                            <li class="dropdown-item"><a href="{% url 'admin:index' %}">Админ-панель</a></li>
                            <li class="dropdown-item"><a href="#">Аналитика</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><a href="#">Выйти</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">
                            <img src="{% static "img/login.svg" %}" alt="" class="icons">
                        </a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcat" aria-controls="navcat" aria-expanded="false" aria-label="Меню">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navcat">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown ctgs">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Мужчинам</b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="{% url "productforman" %}">Все товары</a></li>
                            <li class="dropdown-header">По категориям:</li>
                            {% for category in man_categorys %}
                            <li class="dropdown-item"><a href="{% url "ctproductforman" category.id %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown ctgs">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Женщинам</b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="{% url "productforwoman" %}">Все товары</a></li>
                            <li class="dropdown-header">По категориям:</li>
                            {% for category in woman_categorys %}
                            <li class="dropdown-item"><a href="{% url "ctproductforwoman" category.id %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown ctgs">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Детям</b></a>   
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="{% url "productforkid" %}">Все товары</a></li>
                            <li class="dropdown-header">По категориям:</li>
                            {% for category in kid_categorys %}
                            <li class="dropdown-item"><a href="{% url "ctproductforkid" category.id %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item ctgs"><a href="#" class="nav-link" >О нас</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginModalLabel">Авторизация</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group flex-nowrap mb-2">
                        <input type="text" class="form-control" placeholder="Адрес эл.почты" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-2">
                        <input type="text" class="form-control" placeholder="Пароль" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <div class="text-end mb-3">
                        <a href="#" class="lnk">Забыли пароль?</a>
                    </div>
                    <button type="button" class="btn btn-bl d-block mx-auto mb-3">Войти</button>
                    <div class="text-center frst">
                        Впервые здесь? <a href="#" class="lnk" data-bs-toggle="modal" data-bs-target="#regModal">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="regModal" tabindex="-1" aria-labelledby="regModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="regModalLabel">Регистрация</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group flex-nowrap mb-2">
                        <input type="text" class="form-control" placeholder="Адрес эл.почты" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-2">
                        <input type="text" class="form-control" placeholder="Пароль" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-2">
                        <input type="text" class="form-control" placeholder="Введите пароль повторно" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <button type="button" class="btn btn-bl d-block mx-auto mb-3">Зарегистрироваться</button>
                    <div class="text-center frst">
                        Уже зарегистрированы? <a href="#" class="lnk" data-bs-toggle="modal" data-bs-target="#loginModal">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block content %} {% endblock %}

{% block footer %} {% endblock %}

    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>