{% extends "products/base.html" %}
{% load static %}


{% block content %}
<!-- Контент страницы -->
<section class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ product.image_for_card.url }}" class="d-block w-100" alt="...">
                    </div>
                    {%for img in images%}
                        <div class="carousel-item">
                            <img src="{{ img.image.url }}" class="d-block w-100" alt="...">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
              </div>
        </div>
        <div class="col-md-6">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <div class="col-6 mb-2 mt-5">
            <h4>Цена: {{ product.price }}₽</h4>
            <label for="sizeSelect" class="form-label">Выберите размер:</label>
            <select class="form-select" id="sizeSelect">
                <option selected disabled>Выберите размер</option>
                {% if quantity_of_clothes.XS or quantity_of_clothes.S or quantity_of_clothes.M or quantity_of_clothes.L or quantity_of_clothes.XL %}
                    {% if quantity_of_clothes.XS%}
                        <option value="XS">
                            XS - на складе {{ quantity_of_clothes.XS }}шт.
                        </option>
                    {% else %}
                        <option disabled>XS - товар закончился</option>
                    {% endif %}
                    {% if quantity_of_clothes.S%}
                        <option value="S">
                            S - на складе {{ quantity_of_clothes.S }}шт.
                        </option>
                    {% else %}
                        <option disabled>S - товар закончился</option>
                    {% endif %}
                    {% if quantity_of_clothes.M %}
                        <option value="M">
                            M - на складе {{ quantity_of_clothes.M }}шт.
                        </option>
                    {% else %}
                        <option disabled>M - товар закончился</option>
                    {% endif %}
                    {% if quantity_of_clothes.L %}
                        <option value="L">
                            L - на складе {{ quantity_of_clothes.L }}шт.
                        </option>
                    {% else %}
                        <option disabled>L - товар закончился</option>
                    {% endif %}
                    {% if quantity_of_clothes.XL %}
                        <option value="XL">
                            XL - на складе {{ quantity_of_clothes.XL }}шт.
                        </option>
                    {% else %}
                        <option disabled>XL - товар закончился</option>
                    {% endif %}
                {%elif quantity_of_clothes.ONESIZE %}
                    <option value="onesize">
                        ONESIZE - на складе {{ quantity_of_clothes.ONESIZE }}шт.
                    </option>
                {% else %}

                    {% if quantity_of_shoes.s35%}
                        <option value="35">
                            35RU - на складе {{ quantity_of_shoes.s35 }}шт.
                        </option>
                    {% endif %}

                    {% if quantity_of_shoes.s36%}
                        <option value="36">
                            35RU - на складе {{ quantity_of_shoes.s36 }}шт.
                        </option>
                    {% endif %}

                    {% if quantity_of_shoes.s37%}
                        <option value="37">
                            37RU - на складе {{ quantity_of_shoes.s37 }}шт.
                        </option>
                    {% endif %}

                    {% if quantity_of_shoes.s38 %}
                        <option value="38">
                            38RU - на складе {{ quantity_of_shoes.s38 }}шт.
                        </option>
                    {% endif %}

                    {% if quantity_of_shoes.s39 %}
                        <option value="39">
                            39RU - на складе {{ quantity_of_shoes.s39 }}шт.
                        </option>
                    {% endif %}

                    {% if quantity_of_shoes.s40 %}
                        <option value="40">
                            40RU - на складе {{ quantity_of_shoes.s40 }}шт.
                        </option>
                    {% endif %}

                    {% if quantity_of_shoes.s41 %}
                        <option value="41">
                            41RU - на складе {{ quantity_of_shoes.s41 }}шт.
                        </option>
                    {% endif %}

                    {% if quantity_of_shoes.s42 %}
                        <option value="42">
                            42RU - на складе {{ quantity_of_shoes.s42 }}шт.
                        </option>
                    {% endif %}

                    {% if quantity_of_shoes.s43 %}
                        <option value="43">
                            43RU - на складе {{ quantity_of_shoes.s43 }}шт.
                        </option>
                    {% endif %}

                    {% if quantity_of_shoes.s44 %}
                        <option value="44">
                            44RU - на складе {{ quantity_of_shoes.s44 }}шт.
                        </option>
                    {% endif %}

                    {% if quantity_of_shoes.s45 %}
                        <option value="45">
                            45RU - на складе {{ quantity_of_shoes.s45 }}шт.
                        </option>
                    {% endif %}

                    {% if quantity_of_shoes.s46 %}
                        <option v
                    {% endif %}

                {% endif %}
            </select>
        </div>
            <a class="btn btn-primary" href="{% url "products:basket_add" product.id %}">Добавить в корзину</a> 
        </div>
        </div>
        </section>
{% endblock content %}
